<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>LearningPlace</title>
	<link href="/reset.css" rel="stylesheet">
  	<link href="/style.css" rel="stylesheet">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
			<h1><a href="/">LearningPlace</a></h1>
			<h4>'cuz where else would you want to learn?</h4>
	</header>

	<div id="main">
		<%= yield %>
	</div>

	<footer>
		<p> 2016 <a href="http://marceldegas.com">Marcel Degas</a>.</p>
	</footer>
</body>
</html>